<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduConnect: Student-Teacher Support Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Welcome to EduConnect</h1> <!-- Main heading at the top -->
    <div id="h2"><h2>Login As</h2></div> <!-- 'Login As' directly below -->
    <section class="image-container">
    
        <div>
            <a href="/login2">
                <img src="{{ url_for('static', filename='student.png') }}" alt="Student Login">
            </a>
        </div>
        <div>
            <a href="/login1">
                <img src="{{ url_for('static', filename='teacher.png') }}" alt="Teacher Login">
            </a>
        </div>
    </section>
</body>
</html>
